<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>크림(Kream) 상품 카드</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <meta property="og:title" content="이듬(EUID)" />
    <meta property="og:url" content="https://likelion.net/" />
    <meta property="og:image" content="/src/assets/cover/euid-cover.png" />
    <meta property="og:image:alt" content="함께 성장하는 바른 교육 이듬과 멋사의 만남 - https://likelion.net/" />
    <meta property="og:description" content="이듬 교육이 지향하는 비전은 동반 성장에 있습니다. 강사에서 수강생으로 한 방향으로 흘러가는 지식 전달이 아닌, 함께 공감하고 이해하며 경험하는 교육 가치를 통해 공동의 혁신을 이끌어내는 것을 목표로 합니다." />
    <link rel="stylesheet" href="/src/pages/css/index.css" />
  </head>
  <body class="bg-kream-white text-kream-primary dark:bg-kream-primary dark:text-kream-white m-10 font-pretendard">
    <b class="block">상품 카드</b>
    <div class="kream--components">

      <article class="flex flex-col gap-5 border border-current">
        <div class="">
          <figure>
            <img src="/src/assets/kream/just-dropped/dropped-product-01.webp" alt="" />
            <figcaption></figcaption>
          </figure>

        </div>
        <div>
          <h2 class="text-xl font-bold">Problemallways</h2>
          <p class="text-base">Problemallways Logo Denim Pocket Camp Cap Blue</p>
        </div>
        <div class="flex gap-1">
          <span class="border border-current text-2xs p-1 rounded-sm items-center justify-center">적립</span>
          <span class="text-kream-green border border-current text-2xs p-1 rounded-sm inline-flex items-center justify-center">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.625 1.16669H5.54167L3.5 7.58335H6.41667L4.375 12.8334H5.25L9.91667 6.41669H7.29167L9.625 1.16669Z" fill="currentColor"/>
              </svg>
              빠른 배송</span>
        </div>
        <div class="">
          <span class="font-bold text-xl text-kream-red">10%</span>
          <span class="font-bold text-xl">75,000원</span>
          <p class="text-3xs" >구매가</p>
        </div>
      </article>


    </div>
  
    </div>
  </body>
</html>
