<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아바타 : z-index</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-slate-300 p-5 font-suit">
    <div>
      <h1>
        <a href="/">
          <span class="sr-only">네이버</span>
          <span aria-hidden="true" class="bg-gradient-to-b from-red-300 via-green-300 to-yellow-300 bg-clip-text text-4xl font-bold text-transparent">N</span>
        </a>
      </h1>
      <form action="/" method="get">
        <div>
          <label for="input-1" class="sr-only">검색어</label>
          <input type="search" id="input-1" placeholder="검색어를 입력하세요" required />
        </div>
        <button type="submit" aria-label="검색" class="size-6 rounded-full border-8 flex border-blue-500 bg-transparent bg-gradient-to-b from-red-300 via-green-300 to-yellow-300 bg-clip-padding"></button>
      </form>
    </div>
  </body>
</html>
